# --- Web Server Settings ---
APP_PORT=5000

# --- Folder Path Settings (Host side) ---
WATCH_DIR=./watch
COMPLETED_DIR=./completed
ORIGINALS_DIR=./processed_originals

# --- Processing Settings ---
WHITE_THRESHOLD=225
BLACK_THRESHOLD=150
SLEEP_BEFORE_PROCESS=1.0
